.body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    display: flex;
}
.marginMain{
    padding: 10px 5px 0 5px;
    color:white;
}

.marginLego{
    margin-top: 10px;
    color:white;
}


.col-sm-6{
    color: rgb(145, 180, 171);
    background-clip: content-box;
    height: auto;
    max-width: 100%;
    margin-right: -10px;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.bgGreenPolice{
    background-color: rgb(157, 197, 201);
    background-clip: content-box;
    color: white;
}
.policeJumbo{
     color: white;
    background-color: rgb(157, 197, 201);
}
.police{
    color: rgb(129, 167, 170);
}
.bgGreenLego{
    background-color: rgb(228, 199, 135);
    /* padding: 0; */
    background-clip: content-box;
    /* height: 417px; */
    color: white;     
}
.legoJumbo{
    color: white;
    background-color: rgb(228, 199, 135);
}
.lego{
    color: rgb(228, 199, 135);
}
.bgGreenSpider{
    background-color: #d1a3a6;
    /* padding: 0; */
    background-clip: content-box;
    /* height: 417px; */
    color: white;
    
}
.spiderJumbo{
    color: white;
    background-color:  #d1a3a6;
}
.spider{
    color: #d1a3a6;
}
.bgGreenSpider{
    background-color: #d1a3a6;
}

img {
    height: auto;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;  
    opacity: 0.9;
}  

.jumbotronMain {
    background-color: rgb(173, 199, 190);
    color: white;

}

.bgGreen{
    background-color:rgb(173, 199, 190);
    color: white;
    background-clip: content-box;
    
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 50px;

}
h2{
    font-size: 30px;
    margin: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;

}

h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 200;
    margin: 25px;
    margin-left: 50px;

}
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 35px;
  }
      h2 {
      font-size: 20px;
        margin: 0 10px 10px 20px;
  }
          h3 {
      font-size: 16px;
        margin: 0 10px 10px 20px;
  }
    .btn-secondary {
      font-size: 14px;
       
  }
}
a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
}
.nav-link {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.corousel-inner{
    width: 1500px;
}
.btn-secondary {
    margin-top: 10px;
    background-color: rgb(189, 219, 213);
    border: none;
    
}

.col-sm-2{
    margin-top: 4px;
}
p{
    font-weight: 300;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.mt-3{
    color:rgb(145, 180, 171);
    margin: 2px;
}
.spiderbtn{
    background-color: #d1a3a6;
}
.margintext{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 4px;
    color: rgb(197, 157, 174);
   
    margin-left: 4px;
    text-align: center;
}
.policetext{
    color: rgb(129, 167, 170);
}
.policebtn{
    background-color:rgb(157, 197, 201);
}
.legotext{
    color:rgb(201, 181, 116);
}
.legobtn{
    background-color: rgb(228, 199, 135);
    
}
.maintext{
        margin-top: 20px;
        color: rgb(145, 180, 171);
}
input{
    width: 30%;
    padding: 8px;
    margin: 10px;
    border: 1px solid;
    border-radius:  4px;
    
}

#submit{
   background-color: rgb(104, 134, 127);
}
#tarea{
    margin-left: 13px;
}
#box{
    background-color: rgb(145, 180, 171);;
    padding: 20px;
    border-radius: 4px;
}
.checkbox{
    width: 20%;
    border-radius: 3px;
   
}
#t-select{
    border-radius: 4px;
}
textarea{
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 100%;
}
#formbody{
    margin: 50px;
}
#formheader{
    color:rgb(145, 180, 171);
    font-family: 'Josefin Sans', sans-serif;
    font-Weight: 600;
}
.tabletext{
    margin-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.link{
    color:rgb(145, 180, 171);
    
}
